# Frontend Environment Variables
VITE_BACKEND_URL=https://your-production-backend.com
VITE_BACKEND_URL_DEV=http://localhost:3000
VITE_SOCKET_TRANSPORTS=polling

# STUN/TURN servers for WebRTC
VITE_STUN_URL_1=stun:stun.l.google.com:19302
VITE_STUN_URL_2=stun:stun1.l.google.com:19302
VITE_TURN_URL=
VITE_TURN_USERNAME=
VITE_TURN_CREDENTIAL=
VITE_TURN2_URL=
VITE_TURN2_USERNAME=
VITE_TURN2_CREDENTIAL=
